@font-face {
  font-family: 'icons';
  src: url('./icons.ttf?6fd77f5dfe3de1ba6c32dd086242febd') format('truetype');
}

i[class^='icon-']:before,
i[class*=' icon-']:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowhead-pointing-to-the-right:before {
  content: '\f101';
}
.icon-caret-down:before {
  content: '\f102';
}
.icon-check-mark:before {
  content: '\f103';
}
.icon-close:before {
  content: '\f104';
}
.icon-delete:before {
  content: '\f105';
}
.icon-down-arrow:before {
  content: '\f106';
}
.icon-drag:before {
  content: '\f107';
}
.icon-hamburger-menu:before {
  content: '\f108';
}
.icon-header:before {
  content: '\f109';
}
.icon-image:before {
  content: '\f10a';
}
.icon-paragraph:before {
  content: '\f10b';
}
.icon-picture:before {
  content: '\f10c';
}
.icon-teachers-uix-logo:before {
  content: '\f10d';
}
.icon-three-image:before {
  content: '\f10e';
}
.icon-up-arrow:before {
  content: '\f10f';
}
.icon-user:before {
  content: '\f110';
}
